# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/
dist/

# Metro
.metro-health-check*

# React Native
*.keystore
*.jks
*.p8
*.p12
*.key

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.cxx/
android/.externalNativeBuild/

# iOS
ios/build/
ios/Pods/
ios/.symlinks/
ios/DerivedData/

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Temporary
tmp/
temp/
.cache/

# Misc
*.swp
*.swo